
div.bikes {
  width: 250px;
  /* display: block; */
  list-style-type: armenian;
  /* justify-content: center; */
  font-size: 12px;
  font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  border-color: rgb(187, 187, 187);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1f1ff;
}

div.bikes:last-child {
  border-bottom: none;
}

ol, ul {
	list-style: none;
}

img {
  width: 200px;

}

.reviews {
  font-weight: 300;
  font-size: 10px;
}

.App {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* text-transform: uppercase;/*
/* } */
}

body {
  background-color: #d43900;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-weight: 500;
}

h3.price {
  font-weight: 200;
  font-size: 14px;
}
.pricing-features {
  margin: 50px 0 25px;
  color: #284972;
}


.feature{
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #d0d2d4;
}

.feature:last-child{
  border-bottom: 1px solid #d0d2d4;
}




@media (min-width: 900px){
  .App {
    flex-direction: row;
  }
  div.bikes {
    border-bottom: none;
    border-right: 1px solid #d0d2d4;
    padding: 25px 50px;
  }
  div.bikes:last-child {
    border-right: none;
  }
}