

div.bikes {
  width: 250px;
  font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  border-color: rgb(187, 187, 187);
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #e1f1ff; */
}
div.bikelist {
  padding: inherit;
  width: 250px;
  font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  border-color: rgb(187, 187, 187);
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* div.bikes:last-child {
  border-bottom: none;
} */

ol, ul {
	list-style: none;
}

img {
  width: 250px;
  margin-left: px;

}

.reviews {
  font-weight: 300;
  font-size: 10px;
}

.page {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 94.5%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

body {
  background-color: #d43900;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h2 {
  font-weight: 400;
}

h3.price {
  font-weight: 300;
  font-size: 14px;
}
.pricing-features {
  padding: 0vh;
  color: #284972;
}


.feature{
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #d0d2d4;
  
}

.feature:last-child{
  border-bottom: 1px solid #d0d2d4;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
} */
.title
 {
  font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
 }

@media (min-width: 900px){
  .page {
    flex-direction: row;
    display: flex;
    text-align: center;
  }


  media (min-width: 900px){
    .panel {
      flex-direction: row;
    }
    .bikses {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      padding: 25px 50px;
    }
    ..bikes:last-child {
      border-right: none;
    }
  }

  /* div.bikes {
    border-bottom: none;
    border-right: 1px solid #d0d2d4;
  }
  div.bikes:first-child {
    border-bottom: none;
    border-right: 1px solid #d0d2d4;
  }

  div.bikes:last-child {
    border-right: none;
  } */
}