div.bikes {
  width: 250px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  border-color: rgb(187, 187, 187);
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.bikelist {
  padding: inherit;
  width: 350px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  border-color: rgb(187, 187, 187);
  padding: 10px;
  margin: auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ol,
ul {
  list-style: none;
}

img {
  width: 200px;
  margin-left: px;
}

.reviews {
  font-weight: 300;
  font-size: 10px;
}

.page {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 94.5%;
  width: 400px;
  display: inline-block;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}

body {
  background-color: #d43900;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
}

h3.price {
  font-weight: 300;
  font-size: 14px;
}
.pricing-features {
  padding: 0vh;
  color: #284972;
}

.feature {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #d0d2d4;
}

.feature:last-child {
  border-bottom: 1px solid #d0d2d4;
}

.title {
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
